RewriteEngine On

# Si el archivo o directorio solicitado existe, no hacer nada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe cualquier otra ruta a index.php
RewriteRule ^(.*)$ index.php?view=$1 [QSA,L]
#este es un comentario
#este es otro comentario
